{% extends 'base.html.twig' %}

{% block title %} {{ 'label.register'|trans }}{% endblock %}

{% block body %}
    <h1> {{ 'label.register'|trans }}</h1>

    {{ form_errors(registrationForm) }}

    {{ form_start(registrationForm) }}
    {{ form_row(registrationForm.username, {'label': 'label.username'|trans}) }}
    {{ form_row(registrationForm.fullName, {'label': 'label.fullname'|trans}) }}
    {{ form_row(registrationForm.email) }}
    {{ form_row(registrationForm.password,{'label': 'label.password'|trans}) }}
    {{ form_row(registrationForm.agreeTerms,{'label': 'label.agree_terms'|trans}) }}

    <button type="submit" class="btn"> {{ 'label.register'|trans }}</button>
    {{ form_end(registrationForm) }}
{% endblock %}
