{#
This is the base template used as the application layout which contains the
common elements and decorates all the other templates.
See https://symfony.com/doc/current/templates.html#template-inheritance-and-layouts
#}
<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>{% block title %}Symfony Demo application{% endblock %}</title>
    <link rel="alternate" type="application/rss+xml" title="{{ 'rss.title'|trans }}" href="{{ path('blog_rss') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
            crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.js-example-basic-single').select2().on('change', function () {
                var selectedLocale = $(this).val();
                var url = '{{ path(app.request.get('_route', 'blog_index'), app.request.get('_route_params', [])|merge({_locale: 'locale_placeholder'})) }}';
                url = url.replace('locale_placeholder', selectedLocale);
                window.location.href = url;
            });
        });
    </script>
    {#
    Those two blocks defines frontend entrypoint for CSS and JavaScript assets
    See https://symfony.com/doc/current/frontend.html
    #}
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>

<body id="{% block body_id %}{% endblock %}">

{% block header %}
    {% set _route = app.request.get('_route') %}
    <header>
        <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-primary">
            <div class="container">
                <a class="navbar-brand" href="{{ path('homepage') }}">Symfony Demo</a>
                <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link {{ _route == 'blog_index' ? ' active' : '' }}" aria-current="page"
                               href="{{ path('blog_index') }}">{{ 'menu.homepage'|trans }}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link {{ _route == 'blog_search' ? ' active' : '' }}"
                               href="{{ path('blog_search') }}">{{ 'menu.search'|trans }}</a>
                        </li>
                        {% if app.user %}
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                   aria-expanded="false">
                                    {{ app.user.fullName }}
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item {{ _route == 'user_edit' ? ' active' : '' }}"
                                           href="{{ path('user_edit') }}">{{ 'menu.user'|trans }}</a>
                                    </li>
                                    <li><a class="dropdown-item"
                                           href="{{ logout_path() }}">{{ 'menu.logout'|trans }}</a>
                                    </li>
                                </ul>
                            </li>
                        {% else %}
                            <li class="nav-item dropdown">
                                <a class="nav-link" href="{{ path('security_login') }}">
                                    {{ 'action.sign_in'|trans }}
                                </a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link" href="{{ path('register') }}">
                                    {{ 'label.register'|trans }}
                                </a>
                            </li>
                        {% endif %}
                        <li class="nav-item">
                            <a class="nav-link">
                                <select class="js-example-basic-single form-control">
                                    {% for locale in locales() %}
                                        {% set is_active = app.request.locale == locale.code %}
                                        <option value="{{ locale.code }}" {% if is_active %}selected{% endif %}>
                                            {{ locale.name|capitalize }} ({{ locale.code }})
                                        </option>
                                    {% endfor %}
                                </select>
                            </a>

                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        {#    <nav class="navbar navbar-expand-lg  navbar-dark bg-primary"> #}
        {#        <div class="container"> #}
        {#            <a class="navbar-brand" href="{{ path('homepage') }}"> #}
        {#                Symfony Demo #}
        {#            </a> #}
        {#            <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#appNavbar" #}
        {#                    aria-controls="appNavbar" aria-expanded="false" aria-label="Toggle navigation"> #}
        {#                <span class="navbar-toggler-icon"></span> #}
        {#            </button> #}

        {#            <div class="navbar-collapse collapse" id="appNavbar"> #}

        {#                <ul class="navbar-nav ml-auto"> #}
        {#                    {% block header_navigation_links %} #}
        {#                        <li class="nav-item{{ _route == 'blog_index' ? ' active' : '' }}"> #}
        {#                            <a class="nav-link" href="{{ path('blog_index') }}"> #}
        {#                                <i class="fa fa-home" aria-hidden="true"></i> {{ 'menu.homepage'|trans }} #}
        {#                            </a> #}
        {#                        </li> #}
        {#                        {% if is_granted('ROLE_ADMIN') %} #}
        {#                            <li class="nav-item"> #}
        {#                                <a class="nav-link" href="{{ path('admin_post_index') }}"> #}
        {#                                    <i class="fa fa-lock" aria-hidden="true"></i> {{ 'menu.admin'|trans }} #}
        {#                                </a> #}
        {#                            </li> #}
        {#                        {% endif %} #}
        {#                    {% endblock %} #}

        {#                    <li class="nav-item{{ _route == 'blog_search' ? ' active' : '' }}"> #}
        {#                        <a class="nav-link" href="{{ path('blog_search') }}"> <i #}
        {#                                    class="fa fa-search"></i> {{ 'menu.search'|trans }}</a> #}
        {#                    </li> #}
        {#                    <li class="nav-item{{ _route == 'blog_search' ? ' active' : '' }}"> #}
        {#                        <a class="nav-link">Hi,{{ app.user.fullname }} !</a> #}
        {#                    </li> #}

        {#                    c #}
        {#                    <li class="dropdown-menu"> #}
        {#                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" #}
        {#                           aria-haspopup="true" aria-expanded="false" id="user"> #}
        {#                            {{ app.user.fullname }} #}
        {#                        </a> #}
        {#                        <div class="dropdown-menu user" role="menu" aria-labelledby="user"> #}
        {#                            <a class="dropdown-item" href="{{ path('user_edit') }}"> #}
        {#                                <i class="fa fa-edit" aria-hidden="true"></i> {{ 'menu.user'|trans }} #}
        {#                            </a> #}
        {#                            <div class="dropdown-divider"></div> #}
        {#                            <a class="dropdown-item" href="{{ logout_path() }}"> #}
        {#                                <i class="fa fa-sign-out" aria-hidden="true"></i> {{ 'menu.logout'|trans }} #}
        {#                            </a> #}
        {#                        </div> #}
        {#                    </li> #}
        {#                    {% endif %} #}
        {#                    #}{#                        <li class="nav-item dropdown"> #}
        {#                    <a href="#" class="nav-link dropdown-toggle" data-toggle="modal" #}
        {#                       data-target="#locale-selector-modal" role="button" id="locales"> #}
        {#                        <i class="fa fa-solid fa-globe" aria-hidden="true"></i> #}
        {#                        <span class="caret"></span> #}
        {#                        <span class="sr-only">{{ 'menu.choose_language'|trans }}</span> #}
        {#                    </a> #}
        {#                    #}{#                        </li> #}
        {#                </ul> #}
        {#            </div> #}
        {#        </div> #}
        {#    </nav> #}
    </header>
    <div id="locale-selector-modal" class="modal" tabindex="-1" aria-hidden="true">
        <div class="modal-lg modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <p class="modal-title" lang="en">
                        {# display this title always in English to make the language selector easier to use #}
                        Choose your language
                    </p>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <div class="modal-body">
                    <ul class="locales">
                        {% for locale in locales() %}
                            {% set is_active = app.request.locale == locale.code %}
                            {% set is_rtl = locale.code in ['ar', 'fa', 'he'] %}
                            <li class="{{ is_active ? 'active' }} {{ is_rtl ? 'rtl' }}" translate="no">
                                <a class="stretched-link" lang="{{ locale.code }}" hreflang="{{ locale.code }}"
                                   href="{{ path(app.request.get('_route', 'blog_index'), app.request.get('_route_params', [])|merge({_locale: locale.code})) }}">
                                    {{ locale.name|capitalize }}
                                    <small>{{ locale.code }}</small>
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

<div class="container body-container">
    {% block body %}
        <div class="row">
            <div id="main" class="col-sm-9">
                {{ include('default/_flash_messages.html.twig') }}

                {% block main %}{% endblock %}
            </div>

            <div id="sidebar" class="col-sm-3">
                {% block sidebar %}
                    {{ render_esi(controller('Symfony\\Bundle\\FrameworkBundle\\Controller\\TemplateController::templateAction', {
                        'template': 'blog/about.html.twig',
                        'sharedAge': 600,
                        '_locale': app.request.locale
                    })) }}
                {% endblock %}
            </div>
        </div>
    {% endblock %}
</div>

{% block footer %}
    <footer>
        <div class="container">
            <div class="row">
                <div id="footer-copyright" class="col-md-6">
                    <p>&copy; {{ 'now'|date('Y') }} - The Symfony Project</p>
                    <p>{{ 'mit_license'|trans }}</p>
                </div>
                <div id="footer-resources" class="col-md-6">
                    <p>
                        <a href="https://twitter.com/symfony" title="Symfony Twitter">
                            <i class="fa fa-twitter" aria-hidden="true"></i>
                        </a>
                        <a href="https://www.facebook.com/SensioLabs" title="SensioLabs Facebook">
                            <i class="fa fa-facebook" aria-hidden="true"></i>
                        </a>
                        <a href="https://symfony.com/blog/" title="Symfony Blog">
                            <i class="fa fa-rss" aria-hidden="true"></i>
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </footer>
{% endblock %}

{# it's not mandatory to set the timezone in localizeddate(). This is done to
           avoid errors when the 'intl' PHP extension is not available and the application
           is forced to use the limited "intl polyfill", which only supports UTC and GMT #}
<!-- Page rendered on {{ 'now'|format_datetime('long', 'long', '', 'UTC') }} -->
</body>
</html>
